USE [master]
GO
/****** Object:  Database [CollectFirewood]    Script Date: 2021/3/19 21:47:54 ******/
CREATE DATABASE [CollectFirewood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CollectFirewood', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CollectFirewood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CollectFirewood_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CollectFirewood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CollectFirewood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CollectFirewood]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2021/3/19 21:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[AdminName] [nvarchar](16) NOT NULL,
	[Pwd] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classifys]    Script Date: 2021/3/19 21:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classifys](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[ClassifyName] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_Classify] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2021/3/19 21:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Content] [nvarchar](1024) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 2021/3/19 21:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[UserId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
 CONSTRAINT [PK_Likes] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2021/3/19 21:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[ClassifyId] [int] NOT NULL,
	[ProjectName] [nvarchar](32) NOT NULL,
	[State] [int] NOT NULL,
	[CurrentMoney] [money] NULL,
	[Goal] [money] NOT NULL,
	[Deadline] [date] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CoverImg] [nvarchar](64) NULL,
	[PublishState] [int] NULL,
	[OwnerId] [int] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportProjects]    Script Date: 2021/3/19 21:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportProjects](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Money] [money] NOT NULL,
 CONSTRAINT [PK_SupportProjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2021/3/19 21:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[UserName] [nvarchar](16) NOT NULL,
	[Nickname] [nvarchar](32) NULL,
	[Pwd] [nvarchar](32) NOT NULL,
	[Sex] [nvarchar](2) NOT NULL,
	[Phone] [nvarchar](16) NULL,
	[Address] [nvarchar](64) NULL,
	[Url] [nvarchar](128) NULL,
	[UserPic] [nvarchar](512) NULL,
	[Description] [nvarchar](512) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [AdminName], [Pwd]) VALUES (10097, N'admin', N'f9c293c789e0f1a7cf6d2a81e26d80a2')
INSERT [dbo].[Admins] ([Id], [AdminName], [Pwd]) VALUES (10098, N'admin1', N'21232f297a57a5a743894a0e4a801fc3')
INSERT [dbo].[Admins] ([Id], [AdminName], [Pwd]) VALUES (10099, N'admin2', N'21232f297a57a5a743894a0e4a801fc3')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Classifys] ON 

INSERT [dbo].[Classifys] ([Id], [ClassifyName]) VALUES (10000, N'科技')
INSERT [dbo].[Classifys] ([Id], [ClassifyName]) VALUES (10001, N'艺术')
INSERT [dbo].[Classifys] ([Id], [ClassifyName]) VALUES (10002, N'设计')
SET IDENTITY_INSERT [dbo].[Classifys] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [UserId], [ProjectId], [Content]) VALUES (11001, 10015, 10003, N'给萨嘎萨嘎萨嘎')
INSERT [dbo].[Comments] ([Id], [UserId], [ProjectId], [Content]) VALUES (11002, 10015, 10003, N'给萨嘎萨嘎萨嘎')
INSERT [dbo].[Comments] ([Id], [UserId], [ProjectId], [Content]) VALUES (11003, 10015, 10003, N'给萨嘎萨嘎萨嘎')
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [ClassifyId], [ProjectName], [State], [CurrentMoney], [Goal], [Deadline], [LikeCount], [Content], [CoverImg], [PublishState], [OwnerId]) VALUES (10003, 10001, N'【大卫咖啡】国家首个电商咖啡', 0, 3000.0000, 10000.0000, CAST(N'2021-09-08' AS Date), 57, N'21213214215123', N'/Material/咖啡厅.jpg', 0, 10030)
INSERT [dbo].[Projects] ([Id], [ClassifyId], [ProjectName], [State], [CurrentMoney], [Goal], [Deadline], [LikeCount], [Content], [CoverImg], [PublishState], [OwnerId]) VALUES (10006, 10003, N'【大卫电影院】国家首个电商电影院', 0, 3300.0000, 80000.0000, CAST(N'2021-12-01' AS Date), 58, N'噶啥的噶', N'/Material/电影院.jpg', 0, 10030)
INSERT [dbo].[Projects] ([Id], [ClassifyId], [ProjectName], [State], [CurrentMoney], [Goal], [Deadline], [LikeCount], [Content], [CoverImg], [PublishState], [OwnerId]) VALUES (10007, 10001, N'【大卫相声】国家首个电商相声院', 0, 3900.0000, 10000.0000, CAST(N'2021-06-08' AS Date), 27, N'21213214215123', N'/Material/相声.jpg', 0, 10016)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportProjects] ON 

INSERT [dbo].[SupportProjects] ([Id], [UserId], [ProjectId], [Money]) VALUES (11001, 10015, 10003, 4535.0000)
INSERT [dbo].[SupportProjects] ([Id], [UserId], [ProjectId], [Money]) VALUES (11002, 10015, 10003, 4535.0000)
INSERT [dbo].[SupportProjects] ([Id], [UserId], [ProjectId], [Money]) VALUES (11003, 10015, 10003, 4535.0000)
SET IDENTITY_INSERT [dbo].[SupportProjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Nickname], [Pwd], [Sex], [Phone], [Address], [Url], [UserPic], [Description]) VALUES (10015, N'user', N'普通用户', N'f9c293c789e0f1a7cf6d2a81e26d80a2', N'男', N'12345678910', N'sdgsagsag', N'', N'', NULL)
INSERT [dbo].[Users] ([Id], [UserName], [Nickname], [Pwd], [Sex], [Phone], [Address], [Url], [UserPic], [Description]) VALUES (10016, N'gsagsad', N'gsdgsadg', N'92a77e36e19b2da150122e82b85c3dc3', N'男', N'31412421512', N'fgasdfsad', N'', N'', NULL)
INSERT [dbo].[Users] ([Id], [UserName], [Nickname], [Pwd], [Sex], [Phone], [Address], [Url], [UserPic], [Description]) VALUES (10017, N'dsagasdg', N'sadgsadg', N'df124b71e53ff9e1005ffae84862cc7b', N'女', N'2151254124', N'gfsadgsad', N'', N'', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF_Projects_CurrentMoney]  DEFAULT ((0)) FOR [CurrentMoney]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF_Projects_PublishState]  DEFAULT ((0)) FOR [PublishState]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserPic]  DEFAULT (N'/Material/人.png') FOR [UserPic]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Projects]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Projects]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Users]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Project_Classifys] FOREIGN KEY([ClassifyId])
REFERENCES [dbo].[Classifys] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Project_Classifys]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Projects] FOREIGN KEY([Id])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Projects]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Users] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Users]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Users1] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Users1]
GO
ALTER TABLE [dbo].[SupportProjects]  WITH CHECK ADD  CONSTRAINT [FK_SupportProjects_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[SupportProjects] CHECK CONSTRAINT [FK_SupportProjects_Projects]
GO
ALTER TABLE [dbo].[SupportProjects]  WITH CHECK ADD  CONSTRAINT [FK_SupportProjects_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SupportProjects] CHECK CONSTRAINT [FK_SupportProjects_Users]
GO
USE [master]
GO
